body {
    background-image: url('/static/images/main.jpg');
    background-size: 100%;
    font-family: 'Amatic SC', cursive;
    font-family: 'Teko', sans-serif;
}

.datetime{
    color: #fff;
    background: #1687afb3;
    font-family: "Segoe UI", sans-serif;
    width: 500px;
    padding: 15px 10px;
    border-radius: 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
    transition: 0.5s;
    transition-property: background, box-shadow;
    margin-left: 900px;
    margin-top: 180px;


  }
  
  .datetime:hover{
    background: #2E94E3;
    box-shadow: 0 0 30px #2E94E3;
  }
  
  .date{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
  }
  
  .time{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .time span:not(:last-child){
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
  }
  
  .time span:last-child{
    background: #2E94E3;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 5px;
    border-radius: 3px;
  }